

:root{
    /* primary colors */
    --primary-dark-blue-color: hsl(233, 47%, 7%);
    --primary-dark-desat-blue-color: hsl(244, 38%, 16%);
    --primary-soft-violet-color: hsl(277, 64%, 61%);

    /* neutral colors */
    --neutral-white-color: hsl(0, 0%, 100%);
    --neutral-slight-white1-color: hsla(0, 0%, 100%, 0.75);
    --neutral-slight-white2-color: hsla(0, 0%, 100%, 0.6);
}


body{
    height: 100vh;
    background-color: var(--primary-dark-blue-color);
    font-family: 'Inter', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    

}

h1{
    color: var(--neutral-white-color);
    font-size: 1.7rem;
}

h2{
    color: var(--neutral-white-color);
    font-size: 1.5rem;
}

main h1{
    margin: 10% 10% 0%;
}

main p{
    margin: 5% 12% 10%;
}

h1 span{
    color: var(--primary-soft-violet-color);
}
    

p{
    color: var(--neutral-slight-white2-color);
    font-family: 'Lexend Deca', sans-serif; 
    font-size: .85rem;
    line-height: 1.3rem;
}

img{
    width: 100%; 
    
}




.card{
    background-color: var(--primary-dark-desat-blue-color);
    overflow: hidden;

    margin: 0px;
    border-radius: 10px;
    text-align: center;

    width: 90%;
    height: 80%;

}












































.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }